/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*--------------------- BASE STYLES ---------------------*/
html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  width: 100%;
  color: #e2e3ed;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #e2e3ed;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.25em;
  font-weight: normal;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.875em;
  font-weight: normal;
}

h3,
h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125em;
  font-weight: normal;
}

p {
  font-size: 0.875em;
  line-height: 1.285;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

address {
  font-style: normal;
}

.content-wrapper {
  width: 90%;
  max-width: 320px;
}

/*--------------------- BASE STYLES - HEADER/FOOTER ---------------------*/
/***** HEADER *****/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 15px 0;
  background: #202322;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}

header figure {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.header-divider {
  width: 100%;
}

header nav {
  width: 60%;
  text-transform: uppercase;
  font-weight: bold;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0;
}

/***** FOOTER *****/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #202322;
  text-align: center;
}

 footer .content-wrapper {
   margin: 50px 0;
   width: 55%;
}

 .footer p {
   margin: 0;
}

 .contact,
 .social {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .contact {
   margin-bottom: 50px;
 }

 .social-icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

 .social-icons p {
  background: #527158;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .social-icons i {
  font-size: 1.125em;
}

 .copyright {
  text-align: center;
}

/*--------------------- MOBILE STYLES - HOMEPAGE ---------------------*/
/***** HERO AREA *****/
.hero-area {
  height: 500px;
  display: flex;
  justify-content: center;
  padding: 50px 15px;
  background: url('../img/jake-melara-30679-unsplash.jpg') center no-repeat #333;
  background-size: cover;
}

/***** ASIDE *****/
aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 30px 15px 55px 15px;
  background: #527158;

}

aside .form {
  margin-top: 30px;
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}

input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

/***** FEATURES *****/
.features {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px;
  background: url('../img/rawpixel-800820-unsplash1.jpg') center no-repeat #333;
  background-size: cover;
}

.features .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.features-items {
  width: 55%;
  text-align: center;
  margin: 30px 0;
}

.features p {
  margin: 0;
}

.features i {
	font-size: 3.75em;
  margin-bottom: 40px;
}

/***** REVIEWS *****/
.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 50px 15px;
  background: #2a423a;
}

.reviews h3 {
  width: 50%;
}

/*--------------------- MOBILE STYLES - FAQ ---------------------*/
.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding-left: 15px;
  padding-right: 15px;
}

.faq .content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}

/*--------------------- MOBILE STYLES - ABOUT ---------------------*/
.mission,
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding-left: 15px;
  padding-right: 15px;
}

.map figure {
  width: 100%;
  position: relative;
  padding-bottom: 80%;
  height: 0;
  overflow: hidden;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /*Tablet styles here*/
  /*---------------------  TABLET - BASE STYLES ---------------------*/
    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 2.25em;
    }

    h3,
    h4 {
      font-size: 1.5em;
    }

    .content-wrapper {
      max-width: 640px;
      margin: 100px 0;
    }

    /***** HEADER *****/
    header {
      padding-left: 64px;
      padding-right: 64px;
    }

    header .content-wrapper {
      justify-content: space-between;
    }

    header figure {
      width: 30%;
    }

    header nav {
      width: 55%;
      display: flex;
      justify-content: flex-end;
    }

    header nav ul {
      width: 40%;
      justify-content: space-between;
    }

    .header-divider {
      display: none;
    }

/***** FOOTER *****/
    footer {
      padding: 0 64px;
    }

    footer .content-wrapper {
      width: 80%;
    }

    .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    .contact,
    .social {
      width: 35%;
    }

    .social-icons {
      justify-content: space-between;
    }

    .social-icons i {
      font-size: 1.125em;
    }

    .copyright {
      width: 40%;
    }

 /*--------------------- TABLET STYLES - HOMEPAGE ---------------------*/
  /***** HERO AREA *****/
   .hero-area {
     height: 600px;
     padding: 0 64px;
   }

   .hero-area h1 {
     width: 85%;
   }

   /***** ASIDE *****/
   aside {
     padding: 0 64px;
   }

   aside .content-wrapper {
     margin: 50px 0;
     display: flex;
     justify-content: space-between;
     align-items: baseline;
     flex-flow: row wrap;
   }

   aside .content-wrapper .form-description {
     width: 40%;
   }

   aside .content-wrapper .form {
     width: 45%;
     margin: 0;
   }

   /***** FEATURES *****/
   .features {
     padding: 0 64px;
   }

   .features .content-wrapper {
     justify-content: space-between;
     align-items: baseline;
   }

   .features-items {
     padding: 25px 40px;
     flex-basis: 35%;
   }

   .features .features-item-description {
     width: 100%;
   }

   /***** REVIEWS *****/
   .reviews {
     padding: 0 64px;
   }

   .reviews h2 {
     width: 75%;
   }

   .reviews article {
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     flex-flow: row wrap;
   }

   .reviews figure,
   .reviews article div {
     width: 48%;
   }

   .reviews h3 {
     width: 75%;
     margin: 0;
   }

 /*--------------------- TABLET STYLES - FAQ ---------------------*/
   .faq {
     padding: 0 64px;
     margin: 50px 0;
   }

   .faq .content-wrapper {
     justify-content: space-between;
     align-items: baseline;
   }

   .faq-content {
     flex-basis: 45%;
   }

   .faq h2 {
     width: 100%;
   }

 /*--------------------- TABLET STYLES - ABOUT ---------------------*/
   .mission,
   .contact-section {
     padding: 0 64px;
   }

   .mission-content {
     display: flex;
     justify-content: space-between;
     align-items: baseline;
   }

   .mission-content p {
     width: 45%;
   }

   .map figure {
     padding-bottom: 45%;
   }

   .contact-section .content-wrapper h2 {
     width: 85%;
   }

   .contact-section .content-wrapper address div {
     width: 45%;
   }

   .contact-content {
     display: flex;
     justify-content: space-between;
     align-items: baseline;
   }
}

@media only screen and (min-width: 1200px) {
  /*Desktop styles here*/
   /*--------------------- DESKTOP - BASE STYLES ---------------------*/
   body {
     font-size: 1.125em;
   }

   h1 {
     font-size: 3.333em;
   }

   h2 {
     font-size: 2em;
   }

   h3,
   h4 {
     font-size: 1.6em;
   }

   p {
     font-size: 1em;
     line-height: 1.333;
   }

   .content-wrapper {
     max-width: 960px;
   }

   /***** HEADER *****/
   header {
     padding-left: 100px;
     padding-right: 100px;
   }

   header figure {
     width: 25%;
   }

   header nav {
     width: 30%;
   }

   header nav ul {
     width: 50%;
   }

   /***** FOOTER *****/
   footer {
     padding: 0 100px;
   }

   footer .content-wrapper {
     width: 90%;
   }

   .contact, .social {
     width: 20%;
     padding: 0 3em; 
   }

   .social-icons i {
     font-size: 1em;
   }

   /*--------------------- DESKTOP STYLES - HOMEPAGE ---------------------*/
   /***** HERO AREA *****/
    .hero-area {
      padding: 0 100px;
    }

    .hero-area h1 {
      width: 75%;
    }

    /***** ASIDE *****/
    aside {
      padding: 0 100px;
    }

    aside .content-wrapper {
      justify-content: space-around;
    }

    aside .content-wrapper .form-description,
    aside .content-wrapper .form {
      width: 33%;
    }

    /***** FEATURES *****/
    .features {
      padding: 0 100px;
    }

    .features h2 {
      width: 90%;
    }

    .features-items {
      padding: 25px 60px;
      flex-basis: 20%;
    }

     /***** REVIEWS *****/
     .reviews {
       padding: 0 100px;
     }

     .reviews article div {
       width: 42%;
       padding: 0 40px;
     }

   /*--------------------- DESKTOP STYLES - FAQ ---------------------*/
     .faq {
       padding: 0 100px;
     }

   /*--------------------- DESKTOP STYLES - ABOUT ---------------------*/
     .mission,
     .contact-section {
       padding: 0 100px;
     }

     .mission h2 {
       width: 90%;
     }

     .map figure {
       padding-bottom: 37%;
     }

     .contact-section .content-wrapper h2 {
       width: 100%;
     }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
