/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*--------------------- BASE STYLES ---------------------*/
html {
  font-size: 16px;

}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  width: 100%;

}

ul, ol {
  list-style: none;


}

a {
  color: #e2e3ed;
  text-decoration: none;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.875em;
}

h3, h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125em;
}

p {
  font-size: 0.875em;
  line-height: 1.285;
}

img {

}

figure {

}

address {
  font-style: normal;

}

.content-wrapper {
  width: 90%;
}

/*--------------------- BASE STYLES - HEADER/FOOTER ---------------------*/
/***** HEADER *****/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}

header .content-wrapper a {
}

.header-divider {
  width: 100%;
}

header nav {
  width: 60%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0;
}

header nav ul li {


}

header nav ul li a {

}

/***** FOOTER *****/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

 footer .content-wrapper {
   margin: 50px 0;
   width: 55%;
}

 .footer-content {
 }

 .footer p {
   margin: 0;
 }

 .contact, .social {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .contact {
   margin-bottom: 50px;
 }

.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.copyright {
  margin: 20px 0;
  text-align: center;
}

/*--------------------- MOBILE STYLES - HOMEPAGE ---------------------*/
/***** HERO AREA *****/
.hero-area {
  display: flex;
  justify-content: center;
  padding: 50px 15px;
}

/***** ASIDE *****/
aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 30px 15px 55px 15px;
}

/***** FEATURES *****/
.features {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px;
}

.features .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.features-items {
  width: 55%;
  text-align: center;
  margin: 30px 0;
}

.features p {
  margin: 0;
}

/***** REVIEWS *****/
.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 50px 15px;
}

.reviews h3 {
  width: 50%;
}

/*--------------------- MOBILE STYLES - FAQ ---------------------*/
.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding-left: 15px;
  padding-right: 15px;
}

.faq .content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}

/*--------------------- MOBILE STYLES - ABOUT ---------------------*/
.mission, .contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding-left: 15px;
  padding-right: 15px;
}

.mission .content-wrapper, .contact-section .content-wrapper {

}

.contact-content {
}

.map {
  width: 100%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /*Tablet styles here*/
  /*---------------------  TABLET - BASE STYLES ---------------------*/
    .content-wrapper {
      max-width: 640px;
      margin: 100px 0;
    }

    /***** HEADER *****/
    header {
      padding-left: 64px;
      padding-right: 64px;
    }

    header .content-wrapper a {
      width: 50%;
      text-align: left;
    }

    header nav {
      width: 50%;
      display: flex;
      justify-content: flex-end;
    }

    header nav ul {
      width: 50%;
    }

    header nav ul li a {
    }

    .header-divider {
      display: none;
    }

/***** FOOTER *****/
    .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    .contact, .social {
      width: 35%;
    }

    .copyright {
      width: 40%;
    }

 /*--------------------- TABLET STYLES - HOMEPAGE ---------------------*/
  /***** HERO AREA *****/
   .hero-area {
     padding: 0 64px;
   }

   .hero-area h1 {
     width: 85%;
   }

   /***** ASIDE *****/
   aside {
     margin-top: 50px;
     margin-bottom: 50px;
     padding: 0 64px;
   }

   aside .content-wrapper {
     display: flex;
     justify-content: space-between;
     align-items: baseline;
     flex-flow: row wrap;
   }

   aside .content-wrapper .form-description,
   aside .content-wrapper .form {
     width: 40%;
     margin: 0;
   }

   /***** FEATURES *****/
   .features {
     padding: 0 64px;
   }

   .features .content-wrapper {
     justify-content: space-between;
     align-items: baseline;
   }

   .features-items {
     padding: 25px 40px;
     flex-basis: 35%;
   }

   .features .features-item-description {
     width: 100%;
   }

   /***** REVIEWS *****/
   .reviews {
     padding: 0 64px;
   }

   .reviews article {
     width: 50%;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     flex-flow: row wrap;
   }

   .reviews h3 {
     width: 100%;
     margin-bottom: 0;
   }

 /*--------------------- TABLET STYLES - FAQ ---------------------*/
   .faq {
     padding: 0 64px;
     margin: 50px 0;
   }

   .faq .content-wrapper {
     justify-content: space-between;
     align-items: baseline;
   }

   .faq-content {
     flex-basis: 45%;
   }

   .faq h2 {
     width: 100%;
   }

 /*--------------------- TABLET STYLES - ABOUT ---------------------*/
   .mission, .contact-section {
     padding: 0 64px;
   }

   .mission-content {
     display: flex;
     justify-content: space-between;
     align-items: baseline;
   }

   .mission-content p {
     width: 45%;
   }

   .map {

   }

   .contact-section .content-wrapper h2 {
     width: 85%;
   }

   .contact-section .content-wrapper address div {
     width: 45%;
   }

   .contact-content {
     display: flex;
     justify-content: space-between;
     align-items: baseline;
   }
}

@media only screen and (min-width: 1200px) {
  /*Desktop styles here*/
   /*--------------------- DESKTOP - BASE STYLES ---------------------*/
   .content-wrapper {
     max-width: 960px;
   }

   /***** HEADER *****/
   header {
     padding-left: 100px;
     padding-right: 100px;
   }

   /*--------------------- DESKTOP STYLES - HOMEPAGE ---------------------*/
   /***** HERO AREA *****/
    .hero-area {
      padding: 0 100px;
    }

    .hero-area h1 {
      width: 75%;
    }

    /***** ASIDE *****/
    aside {
      padding: 0 100px;
    }

    aside .content-wrapper {
      justify-content: space-around;
    }

    aside .content-wrapper .form-description,
    aside .content-wrapper .form {
      width: 33%;
    }

    /***** FEATURES *****/
    .features {
      padding: 0 100px;
    }

    .features h2 {
      width: 90%;
    }

    .features-items {
      padding: 25px 60px;
      flex-basis: 20%;
    }

     /***** REVIEWS *****/
     .reviews {
       padding: 0 100px;
     }

   /*--------------------- DESKTOP STYLES - FAQ ---------------------*/
     .faq {
       padding: 0 100px;
     }

   /*--------------------- DESKTOP STYLES - ABOUT ---------------------*/
     .mission, .contact-section {
       padding: 0 100px;
     }

     .mission h2 {
       width: 90%;
     }

     .contact-section .content-wrapper h2 {
       width: 100%;
     }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
